<%= form_for(@log) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :open %><br>
    <%= f.text_field :open %>
  </div>
  <div class="field">
    <%= f.label :close %><br>
    <%= f.text_field :close %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :pairs %><br>
    <%= f.text_field :pairs %>
  </div>
  <div class="field">
    <%= f.label :lot %><br>
    <%= f.text_field :lot %>
  </div>
  <div class="field">
    <%= f.label :sl %><br>
    <%= f.text_field :sl %>
  </div>
  <div class="field">
    <%= f.label :tp %><br>
    <%= f.text_field :tp %>
  </div>
  <div class="field">
    <%= f.label :direction %><br>
    <%= f.text_field :direction %>
  </div>
  <div class="field">
    <%= f.label :exit %><br>
    <%= f.text_field :exit %>
  </div>
  <div class="field">
    <%= f.label :risk_reward %><br>
    <%= f.text_field :risk_reward %>
  </div>
  <div class="field">
    <%= f.label :win_loss %><br>
    <%= f.text_field :win_loss %>
  </div>
  <div class="field">
    <%= f.label :loss %><br>
    <%= f.text_field :loss %>
  </div>
  <div class="field">
    <%= f.label :profit %><br>
    <%= f.text_field :profit %>
  </div>
  <div class="field">
    <%= f.label :loss_percent %><br>
    <%= f.text_field :loss_percent %>
  </div>
  <div class="field">
    <%= f.label :profit_percent %><br>
    <%= f.text_field :profit_percent %>
  </div>
  <div class="field">
    <%= f.label :balance %><br>
    <%= f.text_field :balance %>
  </div>
  <div class="field">
    <%= f.label :strategy %><br>
    <%= f.text_field :strategy %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
