<div class="container">
    <div class="page-header">
        <h3 class="text-uppercase text-primary">journal view</h3></div>
        <a href=# type="button" class="btn btn-success entry fr" data-toggle="modal" data-target="#myModal">
          <i class="fa fa-upload spacer" aria-hidden="true"></i>Upload File 
        </a>
        <%= link_to  new_log_path, class:'btn btn-primary entry fr' do %>
        <i class="fa fa-plus spacer" aria-hidden="true"></i>New Entry
        <%end%>
    </div>
</div>
<div class="container">
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Open</th>
      <th>Close</th>
      <th>Price</th>
      <th>Pairs</th>
      <th>Lot</th>
      <th>SL</th>
      <th>TP</th>
      <th>Direction</th>
      <th>Exit</th>
      <th>Risk/reward</th>
      <th>Win/loss</th>
      <th>Loss</th>
      <th>Profit</th>
      <th>Loss%</th>
      <th>Profit%</th>
      <th>Balance</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.open %></td>
        <td><%= log.close %></td>
        <td><%= log.price %></td>
        <td><%= log.pairs %></td>
        <td><%= log.lot %></td>
        <td class="danger"><%= log.sl %></td>
        <td class="success"><%= log.tp %></td>
        <td><%= log.direction %></td>
        <td><%= log.exit %></td>
        <td><%= log.risk_reward %></td>
        <td><%= log.win_loss %></td>
        <td><%= log.loss %></td>
        <td><%= log.profit %></td>
        <td><%= log.loss_percent %></td>
        <td><%= log.profit_percent %></td>
        <td><%= log.balance %></td>
        <td>
        <span class="has-tooltip" data-toggle="tooltip" data-placement="top" title="view">
        <%= link_to log do %>
          <i class="fa fa-eye spacer" aria-hidden="true"></i>
        <%end%>
        </span>
        <span class="has-tooltip" data-toggle="tooltip" data-placement="top" title="Edit">
        <%= link_to edit_log_path(log) do %>
          <i class="fa fa-pencil spacer" aria-hidden="true"></i>
        <%end%>
        </span>
        <span class="has-tooltip" data-toggle="tooltip"  data-placement="top" title="Destroy">
        <%= link_to log, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash-o spacer" aria-hidden="true"></i>
        <%end%> 
        </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">IMPORT LOG ENTRY</h4>
      </div>
      <div class="modal-body">
      <p class="text-warning">A CSV or Excel file can be used to import records. The first row should be the column name. The following columns are allowed.</p>

      <ul>
        <% Log.columns.each do |column| %>
              <li>
                <strong><%= column.name %></strong> -
                <%= column.type.to_s.titleize %> type
              </li>
        <% end %>
      </ul>
    
      <%= form_tag import_logs_path, multipart: true do %>
      <%= file_field_tag :file %>
        
      </div>
      <div class="modal-footer">
        <%= submit_tag "Import File", class:'btn btn-primary btn-block' do %>
        <i class="fa fa-spinner" aria-hidden="true"></i>
        <%end%>
      </div>
      <% end %>
    </div>
  </div>
</div>